uvicorn~=0.19.0
fastapi~=0.86.0
fastapi-chameleon
starlette==0.20.4
aiofiles
requests
python-multipart
gunicorn
sqlalchemy~=1.4.42
progressbar2
python-dateutil
aiosqlite
black
passlib~=1.7.4
greenlet
pydantic~=1.10.2
pendulum~=2.1.2