uvicorn~=0.17.5
fastapi~=0.74.1
fastapi-chameleon
starlette==0.17.1
aiofiles
requests
python-multipart
gunicorn
sqlalchemy~=1.4.33
progressbar2
python-dateutil
aiosqlite
black
passlib~=1.7.4
greenlet
pydantic~=1.9.0
pendulum~=2.1.2