uvicorn~=0.20.0
fastapi~=0.88.0
fastapi-chameleon
starlette==0.23.0
aiofiles
requests
python-multipart
gunicorn
sqlalchemy~=1.4.44
progressbar2
python-dateutil
aiosqlite
black
passlib~=1.7.4
greenlet
pydantic~=1.10.2
pendulum~=2.1.2
